body{
    background-image: url('https://st2.depositphotos.com/3470617/6425/v/950/depositphotos_64252525-stock-illustration-science-doodle-set.jpg');
}

#canvas{
    margin-left: 450px;
    margin-top: 50px;
    
}
